* {
  margin: 0px;
  padding: 0px;
}
.section {
  min-height: 350px;
  background-position: fixed;
}

#header, #updates {
  background: url('/images/header_bg.jpg') no-repeat center center fixed;
  background-size: cover;
}
