$black: #fff;
$grayDarker: #eee;
$grayDark: #999;
$gray: #555;
$grayLight: #333;
$grayLighter: #222;
$white: #000;

$linkColorHover: #08c;
$linkColor: darken($linkColorHover, 15%);

//$bodyBackground: darken(#3F5985, 22%);
$bodyBackground: rgba(27, 38, 57, 0.95);
