@import "nctheme";

@import "bootstrap/bootstrap";
@import "bootstrap/responsive";

html {
	//height: 100%;
	//background: url(/images/header_bg.jpg) no-repeat left top;
	//background-color: darken($bodyBackground, 5%);
	//@include background-size(cover);

	//@include gradient-vertical(rgba(0, 0, 0, 0), darken($bodyBackground, 5%));
}

body {
}

#header {
	@include box-sizing(border-box);
	margin-top: 20px;
	padding: 10px 0;
	background-color: rgba(128, 128, 128, 0.5);

	h1 {
		text-shadow: 0px 2px 2px rgba(16, 16, 16, 1);
		color: $grayDarker;

		small {
			color: $grayDark;
		}
	}

	div {
		text-align: center;
	}

	#name {
		//@extend .span6;
		//@extend [class*="span"];
	}

	#qrcode, #myself {
		//@extend .span3;
		//@extend [class*="span"];

		text-align: center;

		img {
			max-width: 100%;
			box-sizing: border-box;
		}
	}

	#myself img {
		@extend .img-circle;
	}

	#qrcode img {
		//opacity: 0.85;
	}
}

#contact {
	@extend .row;

	nav {
		@extend .span12;
		@extend [class*="span"];
		text-align: center;

		ul {
			@extend .nav;
			@extend .nav-pills;
			display: inline-block;

			li {
				display:inline;

				a { float: left; }
			}
		}
	}
}

#updates {
	@extend .row;

	> div {
		@extend .span4;
		@extend [class*="span"];
		@include box-sizing(border-box);
		background-color: $grayDarker;
		overflow: hidden;
		min-height: 135px;

		> * {
			margin: 10px;
		}

		h4 {
			//@include box-shadow(0 0 5px 0 $grayLighter);
			text-shadow: 0px 1px 1px rgba(20, 20, 20, 1);
			text-align: center;
			background-color: rgba(0, 0, 0, 0.6);
			color: $grayDarker;
			margin: 0;
			padding: 10px;
		}
	}
}

#github {
	.sha {
		@extend code;

		&:after {
			content: "…";
		}
	}
}

#footer {
	margin-bottom: 20px;
	text-align: center;
}
